{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="logo">HOUSEBOOK</div>
                <ul class="nav-links">
                    <li><a href="#" class="nav-links-item">ABOUT US</a></li>
                    <li><a href="dashboard/" class="nav-links-item">MY DASHBOARD</a></li>
                    <li><a href="/login/" class="nav-links-item">LOGIN</a></li>
                    <!-- Add other navigation links here -->
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <p>Housebook can help</p>
            <h1>Find your forever home</h1>
            <!-- Content based on the image provided -->
        </section>
    </main>
    <section class="property-board">
        <div class="heading">
            <h2>Find your dream house here!</h2>
            <h1>Property Board</h1>
        </div>
        <div class="card-container">
        {% for x in property_items %}
        <div class="card-property">
            <div class="card-content-property">
                <h2>{{ x.property.property_name }}</h2>
                <a href="{% url 'property_details' x.item_id %}" class="details-link-property">Click for details</a>
            </div>
            <div class="image-container-property">
                <div class="image-property"></div>
                <div class="image-property"></div>
                <div class="image-property"></div>
                <div class="image-property"></div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    <section class="salesman_ranking">
        <div>
            <h3 class="salesman_ranking_subtitle">We are professional dream catchers</h3>
            <h2 class="salesman_ranking_title">Meet Our Top Salesman!</h2>
        </div>
        <div class="card-container">
            <!-- Cards for Salesman -->
            {% for y in salesman_transactions %}
            <div class="card">
                <div class="profile-pic"></div>
                <div class="card-content">
                    <h2>{{ y.user__first_name }} {{ y.user__last_name }}</h2>
                    <p>Reach out to me: {{ y.user__user_email}}</p>
                    <p>Transactions made: {{ y.transaction_count }}</p>
                </div>
            </div>
            {% endfor %}
    </section>
</body>
</html>