{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Réal Estate Agency</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="/" class="nav-links-item">HOUSEBOOK</a>
            </div>
            <ul class="nav-links">
                <li><a href="#" class="nav-links-item">ABOUT US</a></li>
                <li><a href="/dashboard/" class="nav-links-item">MY DASHBOARD</a></li>
                <li><a href="/login/" class="nav-links-item">LOGIN</a></li>
                <!-- Add other navigation links here -->
            </ul>
        </div>
    </nav>
    <div class="message-container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="login-container">
            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h2>login</h2>
                <div class="form-control">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-button">Log In</button>
                <div class="links">
                    <a href="/signup/">Haven't had an account? Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

