/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, p {
    margin: 0;
}

ul {
    list-style-type: none;
}

/* Full screen body and html to make sure the hero image covers full screen */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between; /* This separates the logo and the nav-links */
    align-items: center;
    padding: 10px 20px; /* Add some padding on the sides */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px; /* Add space between the logo and the nav-links */
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center links horizontally */
    align-items: center; /* Center links vertically */
    flex-grow: 1; /* Allows nav-links to take up the available space */
}

.nav-links li {
    margin: 0 15px; /* Space out the links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links-item:hover{
    color: rgb(157, 157, 157);
}

.hero {
    text-align: center;
    background-image: url('house.jpeg');
    background-size: cover; /* Make the image cover the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height of the hero section to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* House section */
.property-board {
    text-align: center;
    margin: 50px 0; /* Adjust the margin as needed */
    padding-bottom: 40px;
}

.property-board .heading h2 {
    font-size: 24px; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
}

.property-board .heading h1 {
    font-size: 36px; /* Adjust the font size as needed */
    color: #000; /* Adjust the color as needed */
    margin: 10px 0; /* Adjust the margin as needed */
}

.property-board .listings {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between images as needed */
}

.property-board .listing-image {
    width: 30%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow to your images */
    border-radius: 4px; /* Optional: Rounds the corners of your images */
}

.salesman_ranking{
    text-align: center;
    font-size: 24px;
    margin: 50px; 
}

.salesman_ranking_subtitle{
    font-size: 20px;
    color: #555;
}

.salesman_ranking_title{
    padding-bottom: 30px;
}

/* cards for salesman */

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the space between cards as needed */
    padding-bottom: 50px;
}

.card {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* This adds the shadow effect */
    padding: 20px;
    border-radius: 4px; /* Optional: Rounds the corners of the card */
    background-color: white; /* Assuming a white background for the card */
}

.profile-pic {
    width: 60px; /* Adjust size as needed */
    height: 60px;
    background-color: #C4C4C4; /* Placeholder for the grey circle */
    border-radius: 50%; /* Makes the div a circle */
    margin-right: 20px; /* Adjust the space between the circle and the text as needed */
}

.card-content h2 {
    margin: 0;
    margin-bottom: 5px; /* Adjust the space between the name and email as needed */
    font-size: 20px; /* Adjust font size as needed */
}

.card-content p {
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
}

/* Cards for property sections */

.card-container-property {
    max-width: 100%; /* Maximum width is the full width of the viewport */
}

.card-property {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.card-content-property {
    padding: 20px;
    text-align: center;
}

.card-content-property h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.details-link-property {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.image-container-property {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-property {
    width: 300px;
    height: 300px;
    background-image: url('sample_house.jpg');
    margin-right: 10px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}

.image-property:last-child {
    margin-right: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


button {
    padding: 8px 13px;
    color: #fff;
    font-size: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.btn-cancel {
    padding: 8px 13px;
    color: #fff;
    font-size: 12px;
    background-color: #6c757d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
}

.btn-cancel:hover {
    background-color: #6c757d; 
}

.add-property-board {
    text-align: center;
    margin: 100px 0; /* Adjust the margin as needed */
    padding-bottom: 40px;
}


#dashboard-container{
    max-width: 600px; /* Adjust the max width as needed */
    margin: auto; /* Center the container */
}

.property-row{
    display: flex;
    flex-wrap: wrap; 
    margin-right: -15px;
    margin-left: -15px; 
}

.box {
    flex: 0 0 33.33%; 
    max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px; 
    margin-bottom: 30px;
  }

  @media (max-width: 992px) {
    .box {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .box {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .dashboard-container .listing-image{
    width: 100%; 
    height: auto; 
    border: 1px solid #ddd; 
    margin-bottom: 15px; 
  }

  .dashboard-img-container-property {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
